---
title: "LessWrong Deutschland e.V."
robots: "noindex"
lang: "de"
---

.smallhero
  .container
    %h1 LessWrong Deutschland e.V.

.container
  %section
    .section-title
      %h3 Impressum
    %p
      LessWrong Deutschland e.V.
      %br
      c/o Christian Kamm
      %br
      Dorfstr. 35
      %br
      12621 Berlin
      %br
      E-Mail: lesswrong.deutschland (at) gmail . com
      %br
      %br
      Vertreten durch den Vorsitzenden:
      %br
      Christian Kamm
      %br
      Dorfstr. 35
      %br
      12621 Berlin
      %br
      Tel: 0151 651 25151
      %br
      E-Mail: mail (at) ckamm . de
      %br
      %br
      Registriert unter VR33901B beim Amtsgericht Charlottenburg
